
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    border-radius: 1000px;
    background-color: aquamarine;
    height: 450px;
    
    
}
.color-box{
  width: 150px;
  height: 200px;
  border: 3px solid black;
  border-radius: 15px;

  }

.btn-group{
    gap:15px;
    display: flex;
    border-radius: 5px;
    
   
}

.btn-red{
  border: 2px solid black;
  background-color: red;
  color: black;
  border-radius: 5px;
}

.btn-green{
  border-radius: 2px solid black;
  background-color: green;
  color: black;
  border-radius: 5px;
}

.btn-blue{
  border-radius: 5px solid black;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.title{
  font-size: 40px;
  font-style: italic;
}