#root{
  text-align: center;
}
.home-btn{
  background-color: aquamarine;
  height: 20px;
}

.about-btn{
  background-color: aquamarine;
  height: 20px;
}

.contact-btn{
  background-color: aquamarine;
  height: 20px;
}


  
